.angle
  overflow hidden
  text-align right
  height 28px
  width 100%
  position absolute
  left 0
  bottom 10px

.angle__inner
  display inline-block
  height 28px
  border-top 1px solid #ebed11
  border-left 1px solid #ebed11
  -webkit-transform skew(-45deg)
  transform skew(-45deg)
  width 80px
  position relative

  &::before
    display block
    content ''
    width 1920px
    height 2px
    background #ebed11
    position absolute
    bottom 0
    right 100%
