.arrow
  border-left 5px solid transparent
  border-right 5px solid transparent
  border-top 5px solid #f00

  &_blue
    border-top 5px solid #1e91ea

  &_red
    border-top 5px solid #e65121

  &_green
    border-top 5px solid #419b5b

  &_yellow
    border-top 5px solid #dcb030

  &_violet
    border-top 5px solid #9e59da
