.basement
  background-color #2a2a2a
  position relative
  width 100%
  padding 48px 0 68px 0
  &:after
      content ''
      display block
      clear both

.basement__list
  float left
  width 80%
  position relative
  &:after
      content ''
      display block
      clear both

.basement__social
  width 15%
  float left

.basement__column
  float left
  width 15%
  padding-right 25px
  margin-bottom 6.2%

.basement__li
  text-transform none
  font-size 0.87rem
  margin-bottom 7px
  line-height 1.1
  color #a7a7a7

.basement__h4
  font-size 0.87rem
  font-weight bold
  color #a7a7a7
  margin-bottom 14px
