.gallery
  width 100%

.gallery__nav_container
  width 100%

.gallery__title
  position absolute
  left 12px
  bottom 10px

.gallery__content
  width 100%
  position relative

  &::after
    content ''
    display block
    clear both

.gallery__item
  width: 247px
  float left
  position relative
