@import '../../mixins/clear_fix.styl'

.header
  position relative
  clear_fix()
  padding 98px 0 24px 0

.header__logo
  float left
  width 25%

.header__menu
  float left
  width 75%
  padding 75px 0 0 0
