doctype html
html
  include includes/head.pug
  body
    .container
      include includes/nav.pug
      .container__content
        .sidebar
          .styled_select
            select
              - for (var i = 5; i >=1; --i)
                option(value=i) JLPT #{i}
          .answer
            .answer__button._color_blue.js-know-well
              p Знаю хорошо
            .answer__button._color_red.js-know-bad
              p Знаю не очень хорошо

        .container__table
          table.table


    footer.container__footer
      p Copyright is a lie. Use my tempate as you wish, sick bastard

