doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='./styles/main.css')
    script(src='./javascripts/all.js')
  body
    .container
      .nav-container
        .nav
          ul.nav__ul.main_menu
            li.nav__ul__li Учить кандзи
            li.nav__ul__li Смотреть статистику
            li.nav__ul__li О приложении
        .logo
          img(src='https://staticaltmetric.s3.amazonaws.com/uploads/2015/10/dark-logo-for-site.png' height='50px')
      .content
        .sidebar
          .styled_select
            - var finalLevel = 5
            select
              while finalLevel >= 1 
                option(value='JLPT') JLPT #{finalLevel}
                - finalLevel--
        .table-container
          table.table-container__table
            - var n = 0 
            while n < 8
              tr
                - var k = 0
                while k < 12
                  td.table-container__table__td 洗
                  - k++
              - n++

      footer
        p Copyright is a lie. Use my tempate as you wish, sick bastard

