doctype html
html
  include includes/head.pug
  body
    .main_container
      .container
        .header
          .angle
            .angle__inner
          .header__logo
            img(src="https://starwars.ru/static/images/sw_logo.png?15256b9a3e85)")
          .header__menu
            .menu_nav
              ul
                li
                  include svg/universe.pug
                  |Вселенная
                  span.arrow.arrow_blue
                li
                  include svg/ic_movies.pug
                  |Фильмы
                  span.arrow.arrow_red
                li
                  include svg/ic_games.pug
                  |Игры
                  span.arrow.arrow_green
                li
                  include svg/ic_animation.pug
                  |Анимация
                  span.arrow.arrow_yellow
                li
                  include svg/ic_video.pug
                  |Видео
                  span.arrow.arrow_violet
        .slider
          .slider__header
            h1 Звёздные войны
          .slider__image
            img(src="https://starwars.ru/media/slider/1024x4095.jpg")
        .under_slider
          .under_slider__search
            .search
              .search__container
                .search__icon
                  img(src="https://starwars.ru/static/images/search-icon_inactive.png?15256b9a3e85")
                .search__input
                  input(type='text')
          .under_slider__weather
            img(src="https://starwars.ru/media/cache/eb/1b/eb1bea5ff4884d57681f4c9002860330.png")
        .gallery.heroes
          .gallery__main_title
            h2 Вселенная
          .gallery__nav_container
            .menu_nav
              ul
                li Персонажи
                li Группы
                li Локации
                li Технологии
                li События
            .angle
            .arrows
          .gallery__content
            .gallery__item
              .gallery_image
                img(width="248px" height="248px" src="https://starwars.ru/media/cache/95/fe/95fe5a20bc008e01ba7ec07a7f1833f8.png")
              .gallery__title
                h4 Рей
                p Смелая и отважная
            .gallery__item
              .gallery__title
                h4 BB-8
                p Верный друг

              .gallery_image
                img(width="248px" height="248px" src="https://starwars.ru/media/cache/80/a3/80a349fec29984407b77124379b2ce7c.png")
            .gallery__item
              .gallery__title
                h4 По Дэмерон
                p Лучший пилот Сопротивления
              .gallery_image
                img(width="248px" height="248px" src="https://starwars.ru//media/cache/6b/78/6b783b3fea7ee0ee3bc336506e31a69d.png")
            .gallery__item
              .gallery__title
                h4 Генерал Хакс
                p Сторонник традиционных методов
              .gallery_image
                img(width="248px" height="248px" src="https://starwars.ru/media/cache/f0/3e/f03efa071e5672ab648da9c061499a5f.png")
            .gallery__item
              .gallery__title
                h4 Кайло Рен
                p Преданный ученик Сноука
              .gallery_image
                img(width="248px" height="248px" src="https://starwars.ru/media/cache/ef/de/efde7e3121b1073f64c9a40b4d29ce9d.png")
            .gallery__item
              .gallery__title
                h4 Финн
                p Штурмовик-дезертир
              .gallery_image
                img(width="248px" height="248px" src="https://starwars.ru/media/cache/00/5c/005c66cbed16bf6ff55cb4502da45c1b.png")
            .gallery__item
              .gallery__title
                h4 Верховный лидер Сноук
                p Загадочная фигура во главе Первого Ордена
              .gallery_image
                img(width="248px" height="248px" src="https://starwars.ru/media/cache/ad/49/ad492a4103f38c19b6e2c4118a003511.png")
            .gallery__item
              .gallery__title
                h4 Капитан Фазма
                p Командир Штурмовиков
              .gallery_image
                img(width="248px" height="248px" src="https://starwars.ru/media/cache/8c/87/8c87ffb3b664d3062876db3faf8b710d.png")
          .gallery__link_all
            a.all_link(href='') Все персонажи
        .gallery.movies
          .gallery__main_title
            h2 Фильмы
          .gallery__nav_container
            .menu_nav
            .angle
            .arrows
          .gallery__content
            .gallery__item
              .gallery__title
                h4 Хан Соло
                p Хан Соло
              .gallery_image
                img(width="247px" height="348px" src="https://starwars.ru/media/cache/4d/c0/4dc064a111c8a77888c079a5e5e5f289.png")
            .gallery__item
              .gallery__title
                h4 Последние джедаи
                p Звездные войны
              .gallery_image
                img(width="247px" height="348px" src="https://starwars.ru/media/cache/78/b8/78b8a538ae6613919b8b3e2d3966ebbe.png")
            .gallery__item
              .gallery__title
                h4 Изгой-один
                p Изгой-один
              .gallery_image
                img(width="247px" height="348px" src="https://starwars.ru/media/cache/6b/76/6b76e7bbc0226c835dbc5a9bc332a0bd.png")
            .gallery__item
              .gallery__title
                h4 Пробуждение силы
                p Пробуждение силы
              .gallery_image
                img(width="247px" height="348px" src="https://starwars.ru/media/cache/fc/90/fc9012f29aec3ff8a3b169d903ccbe11.png")
          .gallery__link_all
            a.all_link(href='') Все фильмы
        .gallery.games
          .gallery__main_title
            h2 Игры
          .gallery__nav_container
            .menu_nav
              ul
                li Онлайн
                li Мобильные
                li Видеоигры
            .angle
            .arrows
          .gallery__content
            .gallery__item
              .gallery__title
                p Скорость и драйв
              .gallery_image
                img(width="247px" height="102px" src="https://starwars.ru/media/cache/aa/99/aa9912cb13cfa2a3d6694fb89e425772.png")
            .gallery__item
              .gallery__title
                p Финес и Ферб — Дроид-мастера
              .gallery_image
                img(width="247px" height="102px" src="https://starwars.ru/media/cache/aa/99/aa9912cb13cfa2a3d6694fb89e425772.png")
            .gallery__item
              .gallery__title
                p Атака повстанцев
              .gallery_image
                img(width="247px" height="102px" src="https://starwars.ru/media/cache/aa/99/aa9912cb13cfa2a3d6694fb89e425772.png")
          .gallery__link_all
            a.all_link(href='') Все онлайн игры
        .gallery.ads
          .gallery__content
            .gallery__item
              img(src="")
          .gallery__content
            .gallery__item
              img(src="")
          .gallery__content
            .gallery__item
              img(src="")
        footer.footer
          .footer__list
            .column
              h4 Вселенная
              ul
                li Персонажи
                li Группы
                li Технологии
                li Локации
                li События
            .column
              h4 Фильмы
              ul
                li Последние Джедаи
                li Изгой-один
                li Звездные войны: Пробуждение силы
                li Эпизод I
                li Эпизод II
                li Эпизод III
            .column
              h4 Игры
              ul
                li Онлайн игры
                li Мобильные игры
                li Видеоигры
            .column
              h4 Анимация
              ul
                li Звездные войны: Повстанцы
                li Звездные войны: Войны клонов
                li LEGO: STAR WARS
            .column
              h4 Видео
              ul
                li Новости
          .footer__social
            .social
              h4 Присоединяйтесь
              ul
                li Фейсбук
                li ОК
                li Твиттер
                li Ютупс
                li Инстахрам

