doctype html
html
  include includes/head.pug
  body
    .container
      include includes/nav.pug
      .container__content
        .container__canvas
          canvas(width='400' height='400').statistics
        .container__statistics
          select.js-statistics-select
            - for (var i = 5; i >=1; --i)
              option(value=i) JLPT #{i}
          h2
            b Уровень N3
          p Выучено иероглифов 154
          p Осталось иероглифов 700

    footer.container__footer
      p Copyright is a lie. Use my tempate as you wish, sick bastard

