.container__nav
  nav.nav
    ul.nav__ul
      li.nav__li
        a(href='./index.html') Учить кандзи
      li.nav__li.js-build-statistics
        a(href='./statistics.html') Смотреть статистику
      li.nav__li
        a(href='./about.html') О приложении
  .nav__logo
    img(src='https://staticaltmetric.s3.amazonaws.com/uploads/2015/10/dark-logo-for-site.png' height='50px')
