.container
    width 100%
    margin-bottom -100px

.container__content
    position relative

.container__nav
    position relative
    box-shadow 0 2px 4px #000000
    height 100px

.container__table
    text-align center
    width 75%

.container__footer
    position fixed
    left 0
    bottom 0

    width 100%
    background-color white
    text-align center
    font-family Helvetica, Arial, sans-serif
    font-size 12px
    padding 20px 0
    border 1px solid #B0BAC5
    text-align center
    clear both
