.nav
    background-color white
    text-align left
    font-family Helvetica, Arial, sans-serif
    font-size 12px
    padding 43px 0
    float left
    &:after
        display block
        clear both

.nav__logo
    padding-top 20px
    text-align right
    height 100%

.nav__ul
    margin-left 130px

.nav__li
    display inline
    margin-right 40px
    color #8091A5
    padding-bottom 37px
    text-transform uppercase
    &:hover
      border-bottom 6px solid #0099FA


