.table
    margin 20px auto

.table__td
    border 1px solid #DFE6EE
    padding 20px 36px 20px 36px
    &:hover
      background-color #0099FA
      color white


.table__td_clicked
    background-color #0099FA
    color white

.table__td_know-well
    background-color gray

.table__td_know-bad
    background-color #fa0000
