svg.ic_games(viewBox='10.991 246.835 575.534 348.316', width='26px' height='16px')
  g
    path(d='M452.004,301.889c-37.448,0-66.143,28.694-66.143,63.905c0,35.309,28.694,63.905,66.143,63.905\
    s66.143-28.694,66.143-63.905S489.452,301.889,452.004,301.889z M429.924,365.794c-12.158,0-22.079-9.824-22.079-22.08\
    c0-12.159,9.823-22.08,22.079-22.08s22.08,9.921,22.08,22.08C452.004,355.97,442.083,365.794,429.924,365.794z M473.987,409.954\
    c-12.158,0-22.08-9.824-22.08-22.08s9.824-22.08,22.08-22.08c12.159,0,22.08,9.824,22.08,22.08S486.146,409.954,473.987,409.954z')
    path(d='M194.05,350.426h-35.309v-33.071h-30.834v33.071H92.599v33.071h33.071v33.071h33.071V381.26h33.071v-30.834\
    H194.05z M143.276,429.796c-37.448,0-66.143-28.694-66.143-63.905c0-35.211,28.694-63.905,66.143-63.905\
    s66.143,28.694,66.143,63.905C209.418,401.103,180.822,429.796,143.276,429.796z')
    path(d='M575.438,357.04c-6.614-61.765-57.291-110.205-121.294-110.205c-22.079,0-41.922,6.614-61.765,17.605\
    H205.041c-19.843-10.992-39.686-17.605-61.766-17.605c-63.905,0-114.679,48.537-121.293,110.205\
    c-6.614,121.293-10.991,180.821-10.991,182.961c0,30.834,24.22,55.15,55.15,55.15c103.591,0,149.891-88.223,165.356-132.285H366.02\
    c15.465,44.063,61.765,132.285,165.355,132.285c30.834,0,55.15-24.219,55.15-55.15C586.429,537.763,582.052,478.236,575.438,357.04z\
    M531.375,572.781c-38.907,0-72.368-14.396-99.603-42.701c-25.387-26.457-38.811-58.068-44.646-74.604l-5.252-14.98H215.643\
    l-5.252,14.98c-5.739,16.535-19.259,48.146-44.646,74.604c-27.234,28.305-60.695,42.701-99.603,42.701\
    c-18.188,0-32.584-14.201-32.779-32.391c0.098-1.361,0.39-5.545,0.682-10.699c1.556-23.734,5.252-79.176,10.213-170.9\
    c2.724-24.512,14.104-47.175,32.001-63.711c18.189-16.827,42.02-26.067,66.921-26.067c16.535,0,32.682,4.766,50.871,14.784\
    l5.058,2.821h199.01l5.059-2.821c18.188-10.116,34.335-14.784,50.871-14.784c24.998,0,48.731,9.24,66.92,26.067\
    c17.897,16.536,29.278,39.102,32.001,63.711c5.059,91.626,8.657,147.166,10.311,170.9c0.292,5.154,0.584,9.338,0.681,10.699\
    C563.863,558.58,549.564,572.781,531.375,572.781z')
