footer 
    background-color: white
    width: 100%
    text-align: center
    font-family: Helvetica, Arial, sans-serif
    font-size: 12px
    padding-top: 43px
    padding-bottom: 43px
    border: 1px solid #B0BAC5
    clear: both