@import './reset_css'
@import './upper_menu'
@import './table_container'
@import './select'

.container
  width: 100%

.content
  position: relative

.logo
  padding-top: 20px
  text-align: right
  height: 100%

.main_menu
  float: left

.sidebar
  float: right
  width: 25%

footer
  position:absolute
  bottom:0

  width: 100%
  background-color: white
  text-align: center
  font-family: Helvetica, Arial, sans-serif
  font-size: 12px
  padding-top: 43px
  padding-bottom: 43px
  border: 1px solid #B0BAC5
  text-align: center
  clear: both
