.ic_animation
  height 16px
  width 20px
  fill #dcb030
  margin -8px 4px 0 0

.ic_movies
  height 20px
  width 21px
  fill #e65121
  margin -9px 6px 0 0

.ic_games
  height 16px
  width 26px
  fill #419b5b
  margin -6px 6px 0 0

.ic_video
  height 18px
  width 18px
  fill #9e59da
  margin -5px 6px 0 0

.ic_universe
  height 15px
  width 20px
  fill #1e91ea
  margin -4px 6px 0 0
