.table-container
    text-align: center
    width: 75%

.table-container table
    margin: 20px auto

.table-container td
    border: 1px solid #DFE6EE
    padding: 20px 36px 20px 36px
    &:hover {
              background-color: #0099FA
              color: white
            }
