.nav
    background-color: white
    width: 100%
    text-align: left
    font-family: Helvetica, Arial, sans-serif
    font-size: 12px
    box-shadow: 0 2px 4px #000000
    padding-top: 43px
    padding-bottom: 43px

.nav ul
    margin-left: 130px

.nav ul li
    display: inline
    margin-right: 40px
    color: #8091A5

    padding-bottom: 37px
    &:hover { border-bottom: 6px solid #0099FA }



